/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/public/cms-videos/*
!/public/cms-videos/.gitkeep
!/public/cms-videos/.htaccess
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
database/database.sqlite
*.log
.DS_Store
Thumbs.db
